RewriteEngine on
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
Rewriterule ^validar$ validarUsuario.php
Rewriterule ^getventasayer$ GetVentasAyer.php
Rewriterule ^getventasdia$ GetVentasDia.php
Rewriterule ^getdetalleventasdia$ GetDetalleVentasdia.php
Rewriterule ^getdetalleventasayer$ GetDetalleVentasAyer.php
Rewriterule ^getventasmarca$ GetVentasMarca.php


